.flexe {
  display: flex;
}

.album {
  padding: 5px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.header {
  display: flex;
  padding: 5px;
}
.header>div {
  flex-grow: 1;
}
.logo {
  width: 30px;
  height: 30px;
}

.search {
  padding: 5px;
  text-align: center;
  flex-grow: 2;
}

.select {
  justify-content:space-around;
  display: flex;
}


.profil {
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}